* {
  margin: 0;
  padding: 0;
}
header {
  height: 573px;
  width: auto;
  background: url("../img/home2.jpg") 50% 50% no-repeat;
  background-size: cover;
  background-position: center bottom;
  position: relative;
}
.pop {
  height: 580px;
  width: auto;
  background-color: #FFFFF;
  opacity: 0.8;
  z-index: 1;
}
.pop .header_top {
  display: flex;
}
.pop .header_top img {
  padding-left: 30px;
  width: 180px;
  height: 173px;
  /* a:hover header{
    background: url("../img/home.jpg")  0% 50% no-repeat;

              } */
}
.pop .triangle {
  width: 0;
  height: 0;
  border-width: 25px 20px 0;
  border-style: solid;
  border-color: #333 transparent transparent;
  margin: 397px auto;
}
ul {
  display: flex;
  width: 1059px;
  list-style: none;
  padding-top: 80px;
}
ul li {
  /* flex:1;  */
  font-size: 1.16667rem;
  line-height: 1.42857;
  padding: 0 30px;
}
ul li a {
  color: White;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  word-spacing: 0.5px;
  transition: border-bottom-color 0.2s ease-in-out;
  border-bottom: 3px solid transparent;
  padding-bottom: 6px;
}
ul li a:hover {
  border-bottom: 3px solid white;
}
ul li:first-child a {
  border-bottom: 3px solid white;
}
.header_word {
  position: absolute;
  width: 100%;
  height: 100px;
  /* background-color: #EF4343; */
  text-align: center;
  top: 250px;
}
.header_word h1 {
  color: #FFF;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 86px;
  font-weight: bolder;
}
.header_word p {
  color: #FFF;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 22px;
  font-weight: bolder;
  margin-top: 30px;
}
.section1 {
  width: 1000px;
  margin: 110px auto;
}
.tw {
  text-align: center;
}
.tw p {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 500;
  color: #898181;
  font-size: 15px;
}
.title {
  letter-spacing: 2px;
  font-family: "brandon-grotesque", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #333;
}
.title:after {
  /* 在文字下面插入下划线 */
  background-color: #333;
  display: block;
  content: "";
  height: 1px;
  margin: 12px auto 50px;
  width: 8.47039%;
}
.tubiao {
  margin-top: 70px;
  display: flex;
}
.tubiao p {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
